@{
    ViewData["Title"] = "Statystyki";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            Wybierz datę
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="height:70px;">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker'>
                    <input type="month" id="dateInput" class="form-control" value="@ViewBag.DefaultDate" onchange="renderChart(event)"/>
                </div>
            </div>
        </div>
    </div>

</div>

@Html.Partial("Statistics")

    <script type="text/javascript">

        $(document).ready(function () { });

        function getDate(event) {
            let dataRegexp = new RegExp("^[0-9]{4}[-]{1}[0-9]{2}$");
            var date = event.currentTarget.value;
            var isDateValid = dataRegexp.test(date);
            return date;
        }

         async function getDatasets(date) {

            var url = "/Statistics/GetDatasets";
            var datasets = null;

            return $.ajax({
                 type: "GET",
                 url: url,
                 data: {
                     date: date
                 },
                 success: function (data) {
                     if (data.success) {
                         return data;
                     }
                 },
                 error: function () {
                     alert("Wystąpił błąd");
                 }

             });

        }

        function setVisible(isAnyData) {
            if (isAnyData) {
                debugger
                $("#chartContainer")[0].hidden = false;
                $("#noData")[0].hidden = true;
            } else {
                debugger
                $("#chartContainer")[0].hidden = true;
                $("#noData")[0].hidden = false;
            }
        }

        async function setCharts(dataset, ctx) {
            debugger
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dataset.datesDataset,
                    datasets: [{
                        label: 'Masa ciała [kg] ',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 133)',
                        data: dataset.weightDataset
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: { display: true }

                }
            });
        }

        async function renderChart(event) {

            isLoading(true);

            var date = getDate(event);
            debugger
            var promise = await getDatasets(date);

            if (promise.success) {
                var ctx = $("#weightChart");
                debugger
                await setCharts(promise, ctx);
                setVisible(true);
            } else {
                setVisible(false);
            }

            isLoading(false);
        }

        function isLoading(isLoading) {
            if (isLoading) {
                debugger
                $("#dataViewer")[0].hidden = !isLoading;
                $(".spinner-border")[0].hidden = !isLoading;
                $(".spinner-border").show();

            } else {
                debugger
                $(".spinner-border")[0].hidden = isLoading;
                $(".spinner-border").hide();
                $("#dataViewer")[0].hidden = isLoading;
            }
        }

    </script>

    <style>
        #chartContainer {
            margin-left:20px;
            width: 90%;
            height: 550px;
            padding: 1px;
        }
    </style>
