
<div class="container" float="center" style="text-align:center">
    <div class="spinner-border" role="status" hidden="hidden">
        <span class="sr-only"></span>
    </div>
</div>


<div id="dataViewer" class="container">

    <div id="chartContainer" hidden="hidden">
        <canvas id="weightChart"></canvas>
    </div>

    <div id="noData" class="noData col-xs-12 center-block text-center" hidden="hidden">
        <label class="col-xs-12 center-block text-center">Brak danych</label>
    </div>

</div>
