@model ActivitySettings

<div class="row" style="max-width:400px">
    <div class="col">
        @Html.LabelFor(m => m.LifeStyle, "Poziom aktywności")
    </div>
    <div class="col">
        @Html.DropDownListFor(model =>
            model.LifeStyle,
            new SelectList(new List<string>() {
                "Niski", "Średni", "Wysoki",
            }), new { @class = "form-control" }
        )
    </div>
</div>