@model Settings

@{
    ViewData["Title"] = "Ustawienia";
}

@using (Html.BeginForm())
{
    <div class="container mb-4">
        <h6>Dane osobowe</h6>
        <div class="divider"></div>
        @Html.Partial("PersonalData", Model.PersonalData, new ViewDataDictionary (ViewContext.ViewData) { TemplateInfo = { HtmlFieldPrefix = "PersonalData" } })
    </div>
    <div class="container mb-4">
        <h6>Jadłospis</h6>
        <div class="divider"></div>
        @Html.Partial("Menu", Model.Menu, new ViewDataDictionary(ViewContext.ViewData) { TemplateInfo = { HtmlFieldPrefix = "Menu" } })
        @Html.Partial("Ingridients", Model.Ingridients, new ViewDataDictionary(ViewContext.ViewData) { TemplateInfo = { HtmlFieldPrefix = "Ingridients" } })
    </div>
    <div class="container mb-4">
        <h6>Aktywność</h6>
        <div class="divider"></div>
        @Html.Partial("ActivitySettings", Model.Activity, new ViewDataDictionary(ViewContext.ViewData) { TemplateInfo = { HtmlFieldPrefix = "Activity" } })
    </div>
    <div class="container mb-4">
        <input type="submit" value="Zapisz" class="btn btn-primary"/>
    </div>
}


 <style>
    .row {
        max-width: 500px;
    }
   .input {
       max-width: 400px;
    }
</style>