@using Dietician.Enums
@model MenuSettings

<div class="row">
    <div class="col">
        @Html.LabelFor(m => m.DietAim, "Cel diety")
    </div>
    <div class="col input">
        @Html.DropDownListFor(model =>
            model.DietAim,
            new SelectList(new Dictionary<string,string>() {
                { "Redukcja", DietAim.Redukcja.ToString()},
                { "Utrzymanie masy ciała", DietAim.Utrzymanie.ToString()},
                { "Masa",DietAim.Masa.ToString() }
            }, "Value", "Key"), 
            new { @class = "form-control" }
        )
    </div>
</div>
<div class="row" >
    <div class="col">
        @Html.LabelFor(m => m.Preferences, "Preferencje")
    </div>
    <div class="col input">
        @Html.DropDownListFor(model =>
            model.Preferences,
            new SelectList(new Dictionary<string, string> () {
                { "Brak", DietPreferences.Brak.ToString() },
                { "Wegatariańska", DietPreferences.Wegetariańska.ToString() }
            }, "Value","Key"), 
            new { @class = "form-control" } )
    </div>
</div>
