

<div class="container">

    <form>
        <div class="form-group">
            <label for="heigth">Wzrost</label>
            <input type="number" class="form-control" id="heigth" placeholder="Wprowadź wzrost [cm]">
            @*aria-describedby="help"*@
            @*<small id="help" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
        </div>
        <div class="form-group">
            <label for="weight">Waga</label>
            <input type="number" class="form-control" id="weight" placeholder="Wprowadź wagę [kg]">
        </div>
        <div class="form-group">
            <label for="age">Wiek</label>
            <input type="number" class="form-control" id="age" placeholder="Wprowadź wiek">
        </div>
        <div class="form-group">
            <div class="input-group">
                Wybierz płeć
                <div class="input-group" style="display: block">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="female" name="materialExampleRadios">
                        <label class="form-check-label" for="female">
                            Kobieta
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="male" name="materialExampleRadios" checked>
                        <label class="form-check-label" for="male">
                            Mężczyzna
                        </label>
                    </div>
                </div>
                </div>
            </div>
            <div class="form-group">
                Wybierz styl życia
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="lifeStyle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">  Wybierz styl życia</button>
                    <div class="dropdown-menu" aria-labelledby="lifeStyle">
                        <a class="dropdown-item" value="1" selected="true">Nieaktywny (brak ćwiczeń)</a>
                        <a class="dropdown-item" value="2">Mało aktywny (lekkie ćwiczenia)</a>
                        <a class="dropdown-item" value="3">Średnio aktywny (wysiłek 3–5 razy tygodniowo)</a>
                        <a class="dropdown-item" value="4">Aktywny (wysiłek 6–7 razy w tygodniu)</a>
                        <a class="dropdown-item" value="5">Bardzo aktywny (ćwiczenia i praca fizyczna)</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="waisSize">Obwód talii</label>
                <input type="number" class="form-control" id="waisSize" placeholder="Wprowadź obwód talii [cm]">
            </div>
            <div class="form-group">
                <label for="hipSize">Obwód bioder</label>
                <input type="number" class="form-control" id="hipSize" placeholder="Wprowadź obwód bioder [cm]">
            </div>

            <div class="form-check">
                <label style="padding:5px" class="checkbox-inline"><input style="margin-right: 10px;" type="checkbox" value="">BMI</label>
                <label style="padding:5px" class="checkbox-inline"><input style="margin-right: 10px;" type="checkbox" value="">CPM</label>
                <label style="padding:5px" class="checkbox-inline"><input style="margin-right: 10px;" type="checkbox" value="">Poziom tkanki tłuszczwej</label>
            </div>
            <button type="submit" class="btn btn-primary">Oblicz parametry</button>
    </form>

</div>
