@model Parameters

@{
    ViewData["Title"] = "Obliczanie parametrów";
}

@using (Html.BeginForm("Index", "ParametersCalculator", FormMethod.Post))
{  
    <div class="container">
        @Html.Partial("Parameters", Model, new ViewDataDictionary(ViewContext.ViewData) { TemplateInfo = { HtmlFieldPrefix = "Parameters" } })
    </div>

    <input type="submit" value="Oblicz parametry" class="btn btn-primary" />
}
@if (Model.ShowResults)
{
    <div class="container">
        @Html.Partial("Results", Model.ParameterResults, new ViewDataDictionary(ViewContext.ViewData) { TemplateInfo = { HtmlFieldPrefix = "Results" } })
    </div>
}