@{
    ViewData["Title"] = "Obliczanie parametrów";
}

<div class="container">
    @Html.Partial("bmi")
</div>
<div class="container">
    @Html.Partial("cpm")
</div>
<div class="container">
    @Html.Partial("levelOfFat")
</div>
