@{
    ViewData["Title"] = "Obliczanie parametrów";
}

<div class="container">
    @Html.Partial("parameters")
</div>
<div class="container">
    @Html.Partial("buttons")
</div>
<div class="container">
    @Html.Partial("results")
</div>
