
<div class="container">
    <ul class="list-inline" style="display: -webkit-box; margin:5px">
        <li class="tab"><a href="#">Dzień 1</a></li>
        <li class="tab"><a href="#">Dzień 2</a></li>
        <li class="tab"><a href="#">Dzień 3</a></li>
        <li class="tab"><a href="#">Dzień 4</a></li>
        <li class="tab"><a href="#">Dzień 5</a></li>
        <li class="tab"><a href="#">Dzień 6</a></li>
        <li class="tab"><a href="#">Dzień 7</a></li>
    </ul>
</div>

<style>
    .tab{
        margin: 5px 80px 5px 5px;
    }
</style>